@import 'antd/dist/antd.css';
@import url('https://fonts.googleapis.com/css2?family=Arsenal&family=Montserrat:wght@700&display=swap');


html{
  font-size: 10px;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.divider{
  width: 100%;
  height: 1px;
  background-color: #666666;
  padding: 2.5rem 0;
}

.dflex-center{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}
.dflex-r-center{
  display: flex;
  flex-direction: row;
}

/* Sidebar section start */

.xs-top{
  background-color: #fff !important;
  margin-left: 5rem !important;
}

.userIdPar{
  width: 100%;
  min-width: 118px;
  font-family: 'Arsenal', sans-serif;
  font-size: 1.8rem;
  line-height: 2.2rem;
  color: #000;
  text-align: center;
  margin-top: .8rem;
}
.menuHeading{
  font-family: 'Arsenal', sans-serif;
  font-size: 1.4rem;
  line-height: 1.75rem;
  color: #000;
}
.menuDivider{
  width: 118px;
  height: 1px;
  background-color: #000;
  margin-bottom: 8px;
}
.userMenuLinks{
  position: relative;
  font-family: 'Arsenal', sans-serif;
  font-size: 1.2rem;
  line-height: 1.5rem;
  color: #666666;
  margin-bottom: 8px;
}
.userMenuLinks:hover{
  color: #000;
}
.userMenuLinks:hover::after{
  content: '→';
  position: absolute;
  margin-left: 5px;
  top: 0;
  width: 11px;
  height: 2px;
  color: #000;
}

.activeLink{
  color: #000;
}
/* Sidebar section end */

/* Header section start */
.headerMenuButtons{
  position: relative;
  font-family: 'Arsenal', sans-serif;
  font-size: 1.4rem;
  line-height: 1.756rem;
  color:#50555C;
}

.headerMenuButtons:hover,
.headerMenuButtons:focus {
  color: black;
  background: #fff;
  border-color: #1A1919;
}
/* Header section end */

/* Main content start  */
.collectionCard{
  width: 100%;
  max-width: 450px;
}
.collectionCard > div{
  padding:.5rem;
}
.dressesCollectionImg{
  width: 100%;
  max-width: 370px;
}
/* Slider */
.sliderHeader{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.blockHeader{
  font-family: 'Arsenal', sans-serif;
  font-size: 1.6rem;
  line-height: 1.4rem;
  color: #171717;
  margin-bottom: 22px;
}
.sliderHeaderButtons{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin-right: 1rem;
}
.sliderHeaderButtons button{
  height: fit-content;
  width: 2rem;
  font-size: .8rem;
  line-height: 1.4rem;
  padding: 2px;
  border: none;
  color: #828C99;
}
.sliderHeaderButtons button span svg{
font-size: .9rem;
}

.sliderHeaderButtons button:hover,
.sliderHeaderButtons button:focus{
  color: black;
  background: #fff;
}

/* Card  */
.custAntCard{
  margin-left: 5px;
  margin-right: 5px;
}
.custAntCard .ant-card-head,
.custAntCard .ant-card-meta-title{
  min-height: 1px;
  padding: 1.1rem 2rem;
  text-align: center;
  color: #000;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 1rem;
  line-height: 1.4rem;
  border-bottom: none;
}
.custAntCard .ant-card-body{
  padding: 0 .4rem;
  text-align: center;
}
.custAntCard .ant-card-body img{
  width: 100%;
}
.custAntCard .ant-card-head-title{
  padding: 0;
}
.cardButton{
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 1.1rem 0 1.9rem .5rem;
}

/* Main content end  */

@media screen and (max-width: 991px){
 .xs-hide{
   display: none;
 }
 .xs-top{
   width: auto !important;
   max-width: none !important;
   min-width: auto !important;
   margin-left: 0 !important;
 }
 .xs-top .ant-layout-sider-children{
   display: flex;
   flex-direction: row;
   justify-content: space-around;
 }
 .sliderHeader{
   margin-top: 3rem;
 }
}